.main h1 {
  color: rgb(140,100,50);
}

.mwebar {
  background-color: rgb(184,38,25);
  height: 10px;
}

.main h2, h3 {
  color: rgb(64,64,64);
}

.main a:link {
  color: rgb(140,100,50);
  text-decoration: underline;
}

.main a:hover {
  text-decoration: none;
}

.main table {
	border-collapse: separate;
	border-spacing: 1rem 0;
	margin-left: -1rem;
	margin-bottom: 1rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px; /* Set the fixed height of the footer here */
  background-color: rgb(243,242,235);
  color: rgb(144,117,66);
  text-align: center;
}

.nowrap {
	white-space: nowrap;
}

td, th {
	vertical-align: top;
}

table.program th {
	white-space: nowrap;
}

table.program td, table.program th {
	padding-bottom: 1rem;
}
