<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {{ site.title }} - {{ page.title }}    
  </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/mwe.css">
  <!--
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
  {% endfor %}-->
</head>

<body>
  <div class="mwebar"></div>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ site.baseurl }}/"><strong>SIGLEX-MWE</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="organizationNavbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Organization
          </a>
          <div class="dropdown-menu" aria-labelledby="organizationNavbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/standingcommittee">Standing committee</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/advisorycommittee">Advisory committee</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/members">Members</a>    
            <hr class="mt-1 mb-1"/>
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/constitution.html">Constitution</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/yearlyreports.html">Yearly reports</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/organization/website.html">Website</a>
            <!--<a class="dropdown-item" href="{{ site.baseurl }}/organization/contact.html">Contact</a>-->
          </div>
        </li>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sectionsNavbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="sectionsNavbarDropdown">
            <a class="dropdown-item" href="{{ site.baseurl }}/mwe2026">MWE 2026 workshop</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/mwe2025">MWE 2025 workshop</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/mweud2024">MWE-UD 2024 workshop</a>
            <hr class="mt-1 mb-1"/>            
            <a class="dropdown-item" href="{{ site.baseurl }}/events/previousevents">Previous events</a>
            <!--<a class="dropdown-item" href="http://multiword.sourceforge.net/PHITE.php?sitesig=CONF">Past events</a>-->
            
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="sectionsNavbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Links
          </a>
          <div class="dropdown-menu" aria-labelledby="sectionsNavbarDropdown">
            <a class="dropdown-item" href="http://parseme.eu">PARSEME COST Action</a>
            <a class="dropdown-item" href="https://gitlab.com/parseme/corpora/wikis/home">PARSEME Corpora</a>
            <a class="dropdown-item" href="http://multiword.sourceforge.net/sharedtask2020">PARSEME shared task 1.2 (2020)</a>
            <!--<a class="dropdown-item" href="http://multiword.sourceforge.net/sharedtask2018">PARSEME shared task 1.1 (2018)</a>-->
            <!--<a class="dropdown-item" href="http://multiword.sourceforge.net/sharedtask2017">PARSEME shared task 1.0 (2017)</a>-->
            <hr class="mt-1 mb-1"/>
            <a class="dropdown-item" href="https://langsci-press.org/catalog/series/pmwe">PMWE book series</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/mweresources">Other MWE resources</a>

          </div>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/mailinglist">Mailing list</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--------------------------------------------------------------->
  <div class="container pt-5 pb-5 main">
    {{ content }}
  </div>
  <!--------------------------------------------------------------->
  <div class="footer">
      <div class="container">
        <!-- Add content to footer if needed -->
      </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!--{% for script in page.scripts %}
  <script type="text/javascript" language="javascript" src="{{ script }}"></script>
  {% endfor %}-->
  </body>
</html>
